<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="../css/style-profile.css">
        <link rel="stylesheet" href="../css/style-shared.css">
        <script src="../js/partials.js"></script>
        <script src="../js/requestsServer.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <main id="main-profile">
            <!--Aqui se posiciona la Inforacion del Perfil y los Reposotiors con Pages-->
        </main>
    </body>
</html>