<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Searh</title>
        <link rel="stylesheet" href="../css/style-search.css">
        <link rel="stylesheet" href="../css/style-shared.css">
        <script src="../js/partials.js"></script>
        <script src="../js/requestsServer.js"></script>
        <script src="../js/Listener.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <main class="main-index">
            <section class="filtros" id="filtros">
                <!--Se inserta el Panel de Filtros-->
            </section>
            <section class="muro" id="muro-search">
                <!--Perfiles de Usuario segun la busqueda-->
            </section>
        </main>
    </body>
</html>