.proyect{
    display: flex;
    flex-direction: column;
    height: 800px;
    margin-bottom: 2%;
}
/*Seccion de Titulo y Foto*/
.proyect .div_ln{
    margin: 2% 2% 1% 2%;
}
.div_ln a{
    text-decoration: none;
    color: white;
}
.div_ln a:hover{
    color: gray;
}

.div_ln .photo_profile{
    width: 60px;
    border-radius: 100px;
}

/*Seccion de Botones e iframe*/
.container{
    height: 600px;
    display: flex;
    justify-content: center;
}
.container:has(:only-child) {
    justify-content: center;
}

.container .section_imgs{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.section_imgs iframe, .section_imgs img{
    width:  clamp(360px, 65vw, 1100px);;
    padding: 0px 8px;
    border: none;
    scroll-snap-align: center;
    flex: 0 0 auto;
}
.section_imgs img{
    height: 360px;
}
.left, .right{
    fill: white;
    height: min-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background:none;
    border: none;
}
.left:active, .right:active{
    fill: gray;
}

/*Parrafo Publicacion*/
.proyect p{
    padding: 1% 5%;
}
