/*Presentacion*/
.Presentacion{
    display: flex;
    padding: 3%;
    gap:10%;
    align-items: center;
}
.Presentacion a{
    display: inline;
    width: 20%;
}
.Presentacion a img{
    width: clamp(120px, 23vw, 300px);
    border-radius: 100%;
    display: block;
}

/* Repositorio */
.repositorio {
    margin: 2% auto; 
    padding: 1% 3%;
    max-width: 90%;
}
.repositorio a {
    text-decoration: none;
    color: white;
}
.repositorio a:hover {
    color: gray;
}

/* Info de proyectos */
.info_proyect {
    height: 600px;
    align-items: center;
    gap: 5rem;
}

/* Sección desplazable */
.info_proyect p{
    width: 40%;
}
.section-desplazable{
    width: clamp(300px, 90vw, 100%);
    height: 95%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1%;
}
.section-desplazable iframe{
    width: clamp(300px, 55vw, 1100px);
    height: 98%;
    scroll-snap-align: center;
    flex: 0 0 auto;
}

@media (max-width: 1200px) {
    .info_proyect {
        flex-direction: column;
        height: 800px;
    }
    .info_proyect p {
        width: 90%;
    }
}

