body{
    background-color: rgb(18, 18, 18);
    color: white;
}
/*Header*/
header{
    align-items: center;
    padding:10px;
}
header .background-input{
    background-color: rgb(88, 88, 88);
    width: 40%;
    height: 35px;
}
header img{
    width: 50px;
}
.background-input button{
    position: absolute;
    transform: translate(50%);
    background: none;
    border: none;
}

.background-input input{
    width: 90%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: larger;
}

/*main*/
.main-index{
    margin: 1% 0 0 2%;
    height: 80vh;
}

/*Muro*/
.muro{
    flex: 2.3;
    padding: 2%;
    overflow-y: auto;
    flex-wrap: nowrap;
    height: 78vh;
}

/*Filtros*/
.filtros{
    flex: 0.7;
    height: min-content;
    align-self: center;
    padding: 10px 20px;
}
.filtros div{
    font-size: 150%;
}

/*Bordes*/
header, .background-input, .filtros, .proyect, .repositorio, .perfil{
    border: solid white 2px;
    border-radius: 10px;
}
/*Alineacion*/
header, .main-index, .filtros div, .proyect div, .info_proyect{
    display: flex;
    justify-content: space-between;
}

@media (max-width:1200px){
    .left, .right{
        display: none;
    }
}
@media (max-width:1000px){
    /*Filtros*/
    .filtros{
        display: none;
    }
    .background-input button{
        transform: translatex(-40%);
    }
}

@media (max-width:600px){
    .background-input button{
        transform: translatex(-70%);
    }
}